@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: rgb(245 245 244);
}

/* Add a card animation once it's included into the notes list */
@keyframes fadeIn {
    from {
        transform: translateY(15px);
    }
    to {
        transform: translateY(0);
    }
}

.note-card {
    animation: fadeIn 0.5s ease-out;
}
